.home-page{
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;


}
.main{
    color: #01303f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.left-container{
    width: 35%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-container a , .btn-about{
    /* cursor: pointer;
    margin-left: 20px;
    margin-top: 150px;
    background-color: #01303f;
    color: white;
    width: 40%;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
    padding: 5px 10px; */
    display:flex;
    gap:30px;
    margin:60px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #01303f;
    border-radius:50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.right-container{
    width: 54%;
    display: flex;
    justify-content: space-between;    

}
.right-container div{
    display: flex;
    flex-direction: column;
}
.right-container div a {
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid #01303f;
    color: #01303f;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 25px;
    border-radius:50px;
    padding: 5px 10px;
    
    
    /* display:flex;
    gap:30px;
    margin:60px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background: #eaeaea;
    color: #676767;
    border-radius:50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; */

}
.right-container div a:hover{
    background-color: #01303f;
    color: white;
}
.right-container img {
    width: 300px;
    height: 280px;
}
@media screen and (max-width:769px) {

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    .left-container{
        width: 100%;
        align-items: center;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .left-container a{
        width: 50%;
        
    }
    .right-container{
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        align-items: center;
    
    }
    .right-container div{
        margin-top: 30px;
    }
    .about-content{
        width: 90%;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        }
        .about-text{
            margin-top: 50px;
        }
    
}



.about{
    margin-top: 80px;
    width: 100%;
    padding: 78px 0px;

}
.about img{
    height: 600px;
    width: 500px;
}
.about-text{
    width: 550px;
}
.about-content{
width: 90%;
max-width: 95%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.about-text h1{
    color: #01303f;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-text h5{
    color: #01303f;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #02a9f7;
}

.about-text p{
    color: #01303f;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: left;
}
.tech{
    margin: 0;
    padding: 0;
    background: #01303f;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}
/* button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
} */